@font-face {
    font-family: "bold";
    src: url(font/Inter-Bold.ttf);
}
body {
    background-color: #ffffff;
    text-align: center;
    margin: 0px;
    text-align: center;
    font-family: "bold";
}
div {
    width: 20vw;
    height: 520px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    vertical-align: top;
    background-color: #c2c792;
    padding: 0px;
    float: left;
}
h2 {
    font-size: 40px;
    margin: 15px;
    text-align: center;
}
.nav {
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0px;
}
.container {
    width: 100%;
    height:50px;
}
.text {
    width: 60%;
    float: left;
    height:70px;
    background-color: rgb(153, 255, 0);
}
#genNew {
    font-family: "bold";
    font-size: 15px;
    display: inline-block;
    width: 40%;
    padding-bottom: 20px;
    height: 70px;
}

