@font-face {
    font-family: "bold";
    src: url(font/Inter-Bold.ttf);
}
@font-face {
    font-family: "basic";
    src: url(font/Inter-SemiBold.ttf);
}
body {
    background-color: #ffffff;
    text-align: center;
    margin: 0px;
    text-align: center;
    font-family: "bold";
}
.bars {
    display: inline-block;
    width: 100vw;
    height: 500px;
    vertical-align: top;
    padding: 0px;
}
#color1, #color2, #color3, #color4, #color5 {
    float: left;
    width: 20vw;
    height: 77vh;
}
h2 {
    font-size: 40px;
    margin: 0px;
    text-align: center;
    padding: 12px;
}
.nav {
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
    border: none;
    color: white;
    border-radius: 0px;
    background-color: rgb(0, 0, 0);
}
.container {
    width: 100%;
    height:50px;
}
.text {
    width: 60%;
    float: left;
    height:70px;
}
#genNew {
    font-family: "bold";
    font-size: 15px;
    display: inline-block;
    width: 40%;
    height: 70px;
    font-size: 25px;
    background-color: #0066ff;
    border: none;
    border-radius: 5px;
    color: white;

    transition: 0.2s ease-in-out;
}
#genNew:hover {
    background-color: #0059df;
}
p {
    font-size: 25px;
    text-align: left;
    padding-left: 50px;
    font-family: "basic";
}
